<!DOCTYPE html>
<html>
<body>

<h2>Calculator</h2>
  <form action ="/" method="POST">
    <p><input type ="text" name ="name"/></p>
	<p><input type ="submit" value="1"/>
	<input type ="submit" value="2"/>
	<input type ="submit" value="3"/>
	<input type ="submit" value="/"/>
	<input type ="submit" value="C"/></p>
	<p><input type ="submit" value="4"/>
	<input type ="submit" value="5"/>
	<input type ="submit" value="6"/>
	<input type ="submit" value="*"/></p>
	<p><input type ="submit" value="7"/>
	<input type ="submit" value="8"/>
	<input type ="submit" value="9"/>
	<input type ="submit" value="-"/></p>
	<p><input type ="submit" value="."/>
	<input type ="submit" value="0"/>
	<input type ="submit" value="%"/>
	<input type ="submit" value="-"/>
	<input type ="submit" value="="/></p>
  </form>
 
</body>
</html>

